<%= form_with(model: [@animal, @sighting]) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label(:region, 'In what region was the animal sighted?') %><br />
    <%= f.select :region_id, options_from_collection_for_select(Region.all, :id, :name) %>
  </div>

  <div>
    <%= f.label(:date, 'When did you see it?') %><br />
    <%= f.date_field(:date, value: Date.today.to_s()) %>
  </div>

  <p>Provide GPS coordinates for the sighting</p>
  <div>
    <%= f.label(:latitude) %>
    (absolute value cannot exceed 90)<br />
    <%= f.number_field(:latitude, step: 0.00001) %> 
  </div>

  <div>
    <%= f.label(:longitude) %>
    (absolute value cannot exceed 180)<br />
    <%= f.number_field(:longitude, step: 0.00001) %>
  </div>

  <div><%= f.submit %></div>
<% end %>