<h1>
  <%= @animal.name %>
</h1>

<p>Habitat: <%= @animal.habitat %>
</p>
<p>Migratory: <%= @animal.migratory %>
</p>
<p>Endangered: <%= @animal.endangered %>
</p>

<%= link_to "back", animals_path %> |
<%= link_to "edit", edit_animal_path(@animal) %> |
<%= link_to "delete", animal_path(@animal), method: :delete, data: { confirm: "Are you sure?" } %> | 
<%= link_to "sightings", "/animals/#{@animal.id}/sightings" %>